STEAM_API_KEY=your_steam_api_key_here
STEAM_ACCOUNT_IDS=comma_separated_list_of_steam_account_ids_here
DB_PATH=DIALECT+DRIVER://DB_USERNAME:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME
SECRET_KEY=your_secret_key_here
