<!doctype html>
<html>
    <head>
        <title>My Gaming Diary</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body
        class="bg-sky-700 text-white min-h-screen flex items-center justify-center"
    >
        {% block content %}{% endblock %}
        <script
            type="module"
            src="{{ url_for('static', filename='js/main.js') }}"
        ></script>
    </body>
</html>
