{% extends "base.html" %} {% block content %} {% if session.user_id %}
<div id="homepage" class="flex-1 flex flex-col">
    <section class="flex flex-col items-center gap-4 px-5 py-12">
        <h1 class="text-5xl font-bold">
            Welcome,
            <span
                class="bg-linear-to-r/increasing from-violet-500 to-fuchsia-500 bg-clip-text text-transparent"
            >
                {{ session.display_name }} !
            </span>
        </h1>
        <p class="font-semibold italic text-2xl">{{ today }}</p>
    </section>

    <div class="flex justify-center gap-4 mx-8 mb-8">
        <input
            id="date-picker"
            type="date"
            class="bg-white text-black rounded-lg px-4 py-2 cursor-pointer"
        />
        <button
            id="reset-btn"
            class="bg-white text-sky-700 font-bold px-4 py-2 rounded-lg hover:bg-sky-100 transition cursor-pointer"
        >
            Today
        </button>
    </div>

    <section
        class="max-h-full flex-1 mx-8 mb-8 overflow-y-auto rounded-lg scroll-smooth bg-[url(/static/images/table_bg.jpg)]"
    >
        <table
            class="w-full h-full font-extrabold text-black table-fixed border-separate"
        >
            <thead class="sticky top-0 text-2xl">
                <th class="text-blue-700 text-center align-middle px-6 py-3">
                    Game
                </th>
                <th class="text-blue-700 text-center align-middle px-6 py-3">
                    Playtime
                </th>
                <th class="text-blue-700 text-center align-middle px-6 py-3">
                    Minutes
                </th>
            </thead>
            <tbody id="session-tbody" class="text-center align-middle"></tbody>
        </table>
    </section>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% else %}
<section
    class="min-h-screen flex flex-col items-center justify-center gap-4 px-5"
>
    <h1 class="text-4xl font-bold">Welcome to My Gaming Diary!</h1>
    <p class="font-medium">Track your Steam play sessions as they happen.</p>
    <a
        class="inline-block bg-sky-950/75 py-3 px-5 ring-2 inset-ring-blue-500/50 shadow-lg shadow-blue-500/50 rounded-xl hover:bg-sky-400 hover:text-blue-800 hover:shadow-blue-900 hover:shadow-lg transition-colors active:bg-sky-200 active:scale-95"
        href="/auth/login"
        >Login with Steam</a
    >
</section>
{% endif %} {% endblock %}
